<form class="services"> 
<h1>Services</h1>

<div class="alert alert-info">
  <span>Choisissez les éléments à inclure</span>
  <div class="message" *ngIf="nbreEemeSelected!=0">{{nbreEemeSelected}}  service selectionnée</div>
  <div class="message" *ngIf="nbreEemeSelected==0"> Aucun service selectionnée</div>
</div>
<ul>
 <li (click)="select(service)" [ngClass]="service.selected==true?'selected':''"  *ngFor="let service of services">{{ service.name }}      
   <span class="price">{{ service.price|currency  }}</span> </li>
</ul>
<hr/>
<span class="total" >Total:</span>
<span class="priceTotal">{{ somme |currency}}</span>
<div class="input-group">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<p class="total" >Remise :Code promo invalide
  Total avec remise :</p>
</form>